@model Taskmaster.ViewModels.TaskViewModel

@{
    ViewData["Title"] = "Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/profile-page.css" />

<div class="profile-container">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="@Url.Content("~/images/admin/user.png")" alt="Admin" class="rounded-circle"
                            width="150">
                        <div class="mt-3">
                            <h4>@Html.DisplayFor(modelItem => Model.Owner.Name)</h4>
                            <form>
                                <a href="mailto:@Model.Owner.Email" class="btn-outline-primary" id="btn-msgme"
                                    style="padding: 7px;">Message</a>
                                <button asp-action="Profile" asp-controller="Search" asp-route-id="@Model.Owner.UserID"
                                    class="btn-outline-primary" id="btn-msgme">View Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <h1 class="profile-descrip-head">Task Name</h1>
                <p class="profile-descrip">@Html.DisplayFor(modelItem => Model.Name)</p>
                <h1 class="profile-descrip-head">Task Description</h1>
                <p class="profile-descrip">@Html.DisplayFor(modelItem => Model.Description)</p>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Type</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(modelItem => Model.Type)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Price</h6>
                        </div>
                        @if(Model.Payment != null)
                        {
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(modelItem => Model.Payment)
                        </div>
                        }
                        else
                        {
                        <div class="col-sm-9 text-secondary">
                            Not Applicable
                        </div>
                        }
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Start Date</h6>
                        </div>
                        @if(Model.StartDate != null)
                        {
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(modelItem => Model.StartDate)
                        </div>
                        }
                        else
                        {
                        <div class="col-sm-9 text-secondary">
                            Not Applicable
                        </div>
                        }
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">End Date</h6>
                        </div>
                        @if(Model.EndDate != null)
                        {
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(modelItem => Model.EndDate)
                        </div>
                        }
                        else
                        {
                        <div class="col-sm-9 text-secondary">
                            Not Applicable
                        </div>
                        }
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Postcode</h6>
                        </div>
                        @if(Model.Postcode != null)
                        {
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(modelItem => Model.Postcode)
                        </div>
                        }
                        else
                        {
                        <div class="col-sm-9 text-secondary">
                            Not Applicable
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                    <div class="card h-100">
                        <h1 class="profile-descrip-head2">Required Skills</h1>
                        @foreach (var catagories in Model.Categories)
                        {
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i
                                    class="material-icons text-info mr-2">Catagory: </i>@Html.DisplayFor(modelItem =>
                                catagories.Name)</h6>
                            @foreach (var skills in catagories.Skills)
                            {
                            <small>@Html.DisplayFor(modelItem => skills.Name)</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
